body
{
	background-color: black;
	color: white;
}

a:link
{
	color: #8ec1da;
}

a:visited
{
	color: #6666cc;
}

td
{
	vertical-align: top;
}

fieldset
{
	color: white;
	font-size: 0.75em;
}

legend
{
	font-size: 1.0em;
}

input[type="radio"]
{
	margin-left: 4px;
	margin-right: 2px;
}

.twitter-button
{
	margin-top: 5px;
	margin-bottom: 5px;
}

p.ex
{
	padding-left: 8px;
	margin-top: 1px !important;
	margin-bottom: 1px !important;
}

.searchbox
{
	width: 400px;
	margin-right: 5px;
	margin-top: 25px;
}

.reset-select
{
	width: 150px;
	margin-bottom: 5px;
}

.link-selections
{
	font-size: 0.75em;
	vertical-align: text-top;
}

#preferences
{
	margin-top: 20px;
}

#footer
{
	margin-top: 20px;
}

#qtype
{
	margin-right: 2px;
}

#left-widget
{
	width: 275px;
	height: 430px;
	margin-left: 75px;
	margin-right: 40px;
	font-size: 0.75em;
	background-color: #333333;
	padding: 5px 5px 5px 5px;
}

#right-widget
{
	width: 275px;
	margin-right: 75px;
	margin-left: 40px;
}

#content-table
{
	margin: auto;
	padding-top: 40px;
}