body
{
	background-color: black;
	color: white;
}

a:link
{
	color: lightblue;
}

td
{
	vertical-align: top;
}

p.ex
{
	padding-left: 8px;
}

code
{
	font-size: 1.1em !important;
}

.logo
{
	padding-top: 10px;
}

.searchbox
{
	width: 400px;
	margin-right: 5px;
	margin-top: 50px;
}

#footer
{
	margin-top: 75px;
}

#qtype
{
	margin-right: 2px;
}

#left-widget
{
	width: 275px;
	margin-left: 75px;
	margin-right: 40px;
	font-size: 0.8em;
}

#right-widget
{
	width: 275px;
	margin-right: 75px;
	margin-left: 40px;
}

#content-table
{
	margin: auto;
	padding-top: 40px;
}